# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
backend.log
vite.log

# Dependencies
/node_modules
/frontend/node_modules
/backend/node_modules

# Build outputs
/frontend/dist
/frontend/dist-ssr

# Local files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite cache
/frontend/.vite/

# Environment variables
/backend/.env
